@tailwind base;
@tailwind components;
@tailwind utilities;
.min-h-80 {
  min-height: 90vh;
}
.min-h-60 {
  min-height: 60vh;
}
.min-h-50 {
  min-height: 50vh;
}
.min-h-40 {
  min-height: 40vh;
}

.min-w-10 {
  min-width: 2rem;
}
